@{ 
    var passwordResetLink = ViewBag.passwordResetLink;
}

<h4>If you have account with us we sent you an email
    with instructions to reset your password
    </h4>

<a href="@passwordResetLink">confirmation link</a>