@{
    ViewData["Title"] = "Home Page";
}

<!-- Grid row -->
<div class="row">

    <!-- Grid column -->
    <div class="col-md-10 col-lg-9 col-xl-6 mb-r">

        <!--Panel-->
        <div class="card card-body mb-3">
            <div class="media d-block d-md-flex">
                <img class="d-flex avatar-2 mb-md-0 mb-3 mx-auto" style="width:150px; height:150px;object-fit:cover "
                     src="~/Images/LifestyleAdvice-770x434.jpg" asp-append-version="true"
                     alt="Generic placeholder image">
                <div class="media-body text-center text-md-left ml-md-3 ml-0">
                    <p>
                        <h5>Lifestyle Advice</h5>
                        Improving your diet and lifestyle can help to improve your overall general health and wellbeing. 
                        Examples of ways to improve your lifestyle include eating healthily, 
                        maintaining a healthy weight, reducing your alcohol intake and stopping smoking. 
                        There are lots of ideas for how you increase your physical activity.
                    </p>
                    <a class="btn btn-primary btn-md"
                            asp-controller="Categories" asp-action="Lifestyle">Read more</a>
                </div>
            </div>
        </div>
        <!--/.Panel-->
        <!--Panel-->
        <div class="card card-body mb-3">
            <div class="media d-block d-md-flex">
                <div class="media-body pr-md-3 pr-0 text-center text-md-left">
                    <p>
                        <h5>Business Advice</h5>
                        We can simplify the process for you and offer expert advice in business setup. Registered Auditors. 
                        ICAEW Registered. Chartered Accountants. Services: Business Services, 
                        Individual Services, Wealth Management Service, Specialist Services.
                    </p>
                    <a class="btn btn-primary btn-md"
                       asp-controller="Categories" asp-action="Business">Read more</a>
                </div>
                <img class="d-flex avatar-2 mb-md-0 mb-3 mx-auto" style="width:150px; height:150px;object-fit:cover "
                     src="~/Images/success.jpg" asp-append-version="true"
                     alt="Generic placeholder image">
            </div>
        </div>
        <!--/.Panel-->
        <!--Panel-->
        <div class="card card-body">
            <div class="media d-block d-md-flex">
                <img class="d-flex avatar-2 mb-md-0 mb-3 mx-auto" style="width:150px; height:150px;object-fit:cover "
                     src="~/Images/depression.jpg" asp-append-version="true"
                     alt="Generic placeholder image">
                <div class="media-body text-center text-md-left ml-md-3 ml-0">
                    <p>
                        <h5>Deppression</h5>
                        You have more power over depression than you may think. These tips can help you feel happier, healthier, and more hopeful
                    </p>
                    <a class="btn btn-primary btn-md"
                       asp-controller="Categories" asp-action="Depression">Read more</a>
                </div>
            </div>
        </div>
        <!--/.Panel-->

    </div>
    <!-- Grid column -->
    <!-- Grid column -->
    <div class="col-md-10 col-lg-9 col-xl-6">

        <!--Panel-->
        <div class="card mb-3">
            <h3 class="card-header indigo white-text text-uppercase text-center">Counselors</h3>
            <div class="card-body">
                <div class="media d-block d-md-flex mt-md-0 mt-4 mb-4">
                    <img class="d-flex avatar-2 mb-md-0 mb-3 mx-auto rounded-circle" style="width:150px; height:150px;object-fit:cover "
                         src="~/Images/f215c9df-530b-4a32-a2c4-38cbe80b15a5_53692871_1191259141035498_4687747282194399232_n.jpg" asp-append-version="true"
                         alt="Generic placeholder image">
                    <div class="media-body ml-md-3 ml-0">
                        <p align="justify">
                            Hello, I am Dr. Hasan Kenaan, a Licensed Business Professional Counselor (LBPC) in Beirut ,and also a licensed professional Accountant with years of experience! I give Counsel sessions for business biginners to help them building their business,Book your Appointment now!
                        </p>
                        <button type="button" class="btn btn-primary btn-md">View Profile</button>
                    </div>
                </div>
                <br /><br />
                <div class="media d-block d-md-flex">
                    <div class="media-body mr-md-3 mr-0">
                        <p align="justify">
                            "Alicia is wonderful! She listens, understands, and helps guide me in coping with my emotions. I would definitely recommend her!"
                        </p>
                        <button type="button" class="btn btn-primary btn-md">View Profile</button>
                    </div>
                    <img class="d-flex avatar-2 mb-md-0 mb-3 mx-auto rounded-circle" style="width:150px; height:150px;object-fit:cover "
                         src="~/Images/f0140248-0561-4303-85a3-a2d8dca58707_female-therapist-talking-to-couple-in-couples-therapy-session-922709516-5b44a56e46e0fb0037324e79.jpg" asp-append-version="true"
                         alt="Generic placeholder image">

                </div>
                <br /><br />
                <p></p><br />
                <p></p>
            </div>
        </div>
        <!--/.Panel-->

    </div>
    <!-- Grid column -->

</div>
<!-- Grid row -->
