


<div>
    <div class="text-center text-info">
        <h1 class="display-4">Need Any Advice ?</h1><br />
        <p>We provide variety of problem solutions for any problem you like</p>

    </div>

    <div class="text-center">

        <div> <a class="btn btn-danger w-25" asp-controller="Account" asp-action="Login">Login</a></div><br />
        <div><a class="btn btn-primary w-25" asp-controller="Account" asp-action="Register">Signup</a></div>
    </div>
</div>
