<div class="jumbotron text-center">  <h1 style="font-size:50px">Dealing with Depression</h1></div>
<div class="container">
    <div>
        <div>
            <figure class="figure" style="float:right;">

                <img src="~/Images/depp.jpg" alt="Alternate Text" class="figure-img img-fluid rounded" style="height:400px;width:500px;
                                                                          margin: 20px 0 20px 20px;" />
                <figcaption class="figure-caption text-center" style="font-size:11px"></figcaption>

            </figure>
            <div style="line-height: 40px">
                <p class="text-body" style="font-size:large">
                    Everything feels more challenging when you're dealing with depression. Going to work, socializing with friends, or even just getting out of bed can feel like a struggle.

                    But there are some things you can do to cope with your symptoms and improve your quality of life. Here are eight tips for living with depression.
                </p>

                <h2>
                    Build a Support Network
                </h2>

                <p style="font-size:large">
                    One of the most important things you can do to help yourself with depression—other than medication and therapy—is to develop strong social support.<br />
                    For some, this may mean forging stronger ties with friends or family. Knowing you can count on supportive loved ones to help can go a long way toward improving your depression.<br />
                    For others, a depression support group can be key.It may involve a community group that meets in your area or you might find an online support group who meets your needs.<br />
                </p>

                <h2>
                    Reduce Your Stress
                </h2>

                <p style="font-size:large">
                    When you're under stress, your body produces more of a hormone called cortisol. In the short-term, this is a good thing because it helps you gear up to cope with whatever is causing the stress in your life.<br />
                    Over the long run, however, it can cause many problems for you, including depression.﻿The more you use techniques to reduce stress, the better because it will reduce your risk of becoming depressed.<br />
                </p>

                <h2>
                    Improve Your Sleep Hygiene
                </h2>
                <p style="font-size:large">
                    Sleep and mood are intimately related. A 2014 study found that 80% of people with major depressive disorder experience sleep disturbances.<br />
                    But, you might feel like you just can't fall asleep. Or perhaps you struggle to get out of bed because you feel exhausted all the time.<br />
                    Good sleep hygiene could be key to improving the quality and quantity of your sleep.<br />
                    Turn off electronics at least an hour before you go to bed. Use dim light to read a book or engage in another relaxing activity.<br />
                    Only use your bed for sleep and sexual activity. Doing work in bed, or even in your bedroom, can cause you to associate your bed with stress, rather than relaxation.<br />

                </p>

                <h2>
                    Improve Your Eating Habits
                </h2>
                <p style="font-size:large">
                    Research continues to find clear links between diet and mental health. In fact, there have been so many studies that have shown improving nutrition can prevent and treat mental illness that nutritional psychiatry has become mainstream.<br />
                    There are many brain-essential nutrients that can affect depression. For example, a 2012 study found that zinc deficiency increases symptoms of depression.br
                    Improving your diet could be key to reducing your symptoms.<br />
                    But before you make any major changes to your diet or begin taking vitamins or supplements, talk with your physician.<br />
                </p>

                <h2>
                    Learn How to Stop Negative Thoughts
                </h2>
                <p style="font-size:large">
                    Depression doesn't just make you feel bad, it can also cause you to think more negatively. Changing those negative thoughts, however, can improve your mood.<br />
                    Cognitive behavioral therapy (CBT) is a type of therapy that works to alter common patterns of negative thinking called cognitive distortions in order to eliminate depression.There are also many self-help books, apps, and online courses that can help you learn how to change your unhealthy thinking patterns.<br />
                
                </p>

                <h2>
                    Beat Procrastination    
                </h2>
                <p style="font-size:large">
                    The symptoms of depression, such as fatigue and difficulty concentrating, make procrastination tempting.<br />
                    Putting things off fuels depression. It can lead to increased guilt, worry, and stress.<br />
                    It's important to set deadlines and manage your time well. Establish short-term goals and work hard to get the most important things done first. Each task you successfully complete will help you break through the habit of procrastination.<br />    
                </p>

                <h2>
                    Get a Handle on Your Household Chores
                </h2>
                <p style="font-size:large">
                    Depression can make it difficult to complete household chores, such as doing the dishes or paying bills.<br />
                    But a pile of paperwork, ​the stack of dirty dishes, and floor covered in dirty clothes will only magnify your feelings of worthlessness.<br />
                    Take control of your daily chores. Start small and work on one project at a time. Getting up and moving can help you start to feel better in itself. But, seeing your progress in the home can be key to helping you feel better.<br />

                </p>

                <h2>
                    Create a Wellness Toolbox
                </h2>
                <p style="font-size:large">
                    A wellness toolbox is a set of tools that you can use to help soothe yourself when you are feeling down.<br />
                    The tools you find most helpful might not work for someone else so it's important to carefully consider what things can help you feel your best.<br />
                    Think of things you like to do when you're happy. Then, when you're feeling down, try one of those activities.<br />
                    Cuddling your pet, listening to your favorite music, taking a warm bath, or reading a good book are just a few tools you might find helpful.<br />
                    Create a list of the activities you might try when you're feeling bad. Then, choose an activity to try when you're having a particularly rough time.<br />
                </p>

                <h2>
                    Know the legal requirements for starting a small business
                </h2>
                <p style="font-size:large">
                    Starting a business is exciting. Laws are not. But, you need to understand the rules that come with opening a business. If you fail to follow government regulations, you could face steep penalties.

                    From forming a legal structure to setting up an accounting system, you must follow laws. You need to register the business with your state. You must also take care of business-specific tax liabilities. And as you hire workers, you need to follow employer laws.

                    The rules that apply to you depend on your state, business structure, and industry. Consider talking to a small business accountant as you set up your company.
                </p>

                <h2>
                    Balance passion with wisdom
                </h2>
                <p style="font-size:large">
                    One of the most important ingredients in a successful business idea is passion. Passion will consistently drive you to improve your process so your business grows.

                    That said, don’t let passion take over all your decisions. Passion will move you forward, but knowledge will point you in the right direction.

                    Conduct market research on your industry and talk to target customers to find out your business’s potential. Ask experts questions about launching a startup. Reach out to professionals that can help you with certain areas of business, such as financial advisors and lawyers.

                    As your business starts to come together, think of it like driving a car. Let your passion hit the gas pedal and your mind control the steering wheel. That way, you can be confident about the direction you’re headed and sustain the momentum you need to get there.
                </p>

            </div>
            <div class="text-center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/ehETURbggQo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <p class="text-black-50">https://www.verywellmind.com/tips-for-living-with-depression-1066834 </p>
        </div>
    </div>
</div>