
<div class="jumbotron text-center">  <h1 style="font-size:50px">Lifestyle</h1></div>
<div class="container">
    <div>
        <div>
            <figure class="figure" style="float:right;">

                <img src="~/Images/yoga.jpg" alt="Alternate Text" class="figure-img img-fluid rounded" style="height:400px;width:500px;
                                                                          margin: 20px 0 20px 20px;" />
                <figcaption class="figure-caption text-center" style="font-size:11px">Healthy living involves more than physical health, it also includes mental and emotional health</figcaption>

            </figure>
            <div style="line-height: 40px">
                <h2>Healthy living facts</h2>
                <p class="text-body" style="font-size:large">
                    This article is designed to give tips to readers about how they can improve or augment actions in their life to have a healthy lifestyle; it is not meant to be all inclusive but will include major components that are considered to be parts of a lifestyle that lead to good health. In addition to the tips about what people should do for healthy living, the article will mention some of the tips about avoiding actions (the don'ts) that lead to unhealthy living.
                </p>
                <p style="font-size:large">
                    "Healthy living" to most people means both physical and mental health are in balance or functioning well together in a person. In many instances, physical and mental health are closely linked, so that a change (good or bad) in one directly affects the other. Consequently, some of the tips will include suggestions for emotional and mental "healthy living."
                </p>

                <h2>Healthy eating (diet and nutrition)</h2>

                <p style="font-size:large">
                    All humans have to eat food for growth and maintenance of a healthy body, but we humans have different nutrition requirements as infants, children (kids), teenagers, young adults, adults, and seniors. For example, infants may require feeding every 4 hours until they gradually age and begin to take in more solid foods. Eventually they develop into the more normal pattern of eating three times per day as young kids. However, as most parents know, kids, teenagers, and young adults often snack between meals. Snacking is often not limited to these age groups because adults and seniors often do the same.
                </p>



                <h2 style="font-size:large">
                    Tips:
                </h2>

                <p style="font-size:large">
                    <ul style="font-size:large; line-height: 50px">
                        <li>
                            Eat three healthy meals a day (breakfast, lunch, and dinner); it is important to remember that dinner does not have to be the largest meal.
                        </li>

                        <li>
                            The bulk of food consumption should consist of healthy foods, such as fruits, vegetables, whole grains, and fat-free or low-fat milk products.
                        </li>

                        <li>
                            Incorporate lean meats, poultry, fish, beans, eggs, and nuts (with emphasis on beans and nuts) into a healthy diet.
                        </li>

                        <li>
                            Choose foods that are low in saturated fats, trans fats, cholesterol, salt (sodium), and added sugars; look at the labels because the first listed items on the labels comprise the highest concentrations of ingredients.
                        </li>

                        <li>
                            Control portion sizes; eat the smallest portion that can satisfy hunger and then stop eating.
                        </li>

                        <li>
                            Healthy snacks are OK in moderation and should consist of items like fruit, whole grains, or nuts to satisfy hunger and not cause excessive weight gain.
                        </li>

                        <li>
                            Avoid sodas and sugar-enhanced drinks because of the excessive calories in the sodas and sugar drinks; diet drinks may not be a good choice as they make some people hungrier and increase food consumption.
                        </li>

                        <li>
                            Avoid eating a large meal before sleeping to decrease gastroesophageal reflux and weight gain.
                        </li>

                        <li>
                            If a person is angry or depressed, eating will not solve these situations and may make the underlying problems worse.
                        </li>

                        <li>
                            Avoid heavy meals in the summer months, especially during hot days.
                        </li>

                        <li>
                            A vegetarian lifestyle has been promoted for a healthy lifestyle and weight loss; vegetarians should check with their physicians to be sure they are getting enough vitamins, minerals, and iron in their diet.
                        </li>

                        <li>
                            Cooking foods (above 165 F) destroys most harmful bacteria and other pathogens; if you choose to eat uncooked foods like fruits or vegetables, they should be thoroughly washed with running treated (safe to drink) tap water right before eating.
                        </li>

                        <li>
                            Avoid eating raw or undercooked meats of any type.
                        </li>

                    </ul>

                </p>

                <h2 style="font-size:large">
                    Tips for special situations:
                </h2>

                <p style="font-size:large">
                    <ul style="font-size:large; line-height: 50px">
                        <li>
                            People with diabetes should use the above tips and monitor their glucose levels as directed; try to keep the daily blood glucose levels as close to normal as possible.
                        </li>

                        <li>
                            People with unusual work schedules (night shifts, college students, military) should try to adhere to a breakfast, lunch, and dinner routine with minimal snacking.
                        </li>

                        <li>
                            People who prepare food should avoid using grease or frying foods in grease.
                        </li>

                        <li>
                            People trying to lose weight (body fat) should avoid all fatty and sugary foods and eat mainly vegetables, fruits, and nuts and markedly reduce his/her intake of meat and dairy products.
                        </li>

                        <li>
                            Seek medical advice early if you cannot control your weight, food intake, or if you have diabetes and cannot control your blood glucose levels.
                        </li>


                    </ul>
                </p>

                <h2>Physical activity and exercise</h2>

                <p style="font-size:large">
                    Physical activity and exercise is a major contributor to a healthy lifestyle; people are made to use their bodies, and disuse leads to unhealthy living. Unhealthy living may manifest itself in obesity, weakness, lack of endurance, and overall poor health that may foster disease development.
                </p>

                <h2 style="font-size:large">
                    Tips:
                </h2>

                <p style="font-size:large">
                    <ul style="font-size:large; line-height: 50px">
                        <li>
                            Regular exercise can prevent and reverse age-related decreases in muscle mass and strength, improve balance, flexibility, and endurance, and decrease the risk of falls in the elderly. Regular exercise can help prevent coronary heart disease, stroke, diabetes, obesity, and high blood pressure. Regular, weight-bearing exercise can also help prevent osteoporosis by building bone strength.
                        </li>

                        <li>
                            Regular fitness can help chronic arthritis sufferers improve their capacity to perform daily activities such as driving, climbing stairs, and opening jars.
                        </li>

                        <li>
                            Regular exercise can help increase self-esteem and self-confidence, decrease stress and anxiety, enhance mood, and improve general mental health.
                        </li>

                        <li>
                            Thirty minutes of modest exercise (walking is OK) at least 3 to 5 days a week is recommended, but the greatest health benefits come from exercising most days of the week.
                        </li>

                        <li>
                            Exercise can be broken up into smaller 10-minute sessions.
                        </li>

                        <li>
                            Start slowly and progress gradually to avoid injury or excessive soreness or fatigue. Over time, build up to 30 to 60 minutes of moderate to vigorous exercise every day.
                        </li>

                        <li>
                            People are never too old to start exercising. Even frail, elderly individuals (70-90 years of age) can improve their strength and balance with exercise.
                        </li>

                        <li>
                            Almost any type of exercise (resistance, water aerobics, walking, swimming, weights, yoga, and many others) is helpful for everybody.
                        </li>

                        <li>
                            Children need exercise; play outside of the home is a good beginning.
                        </li>

                        <li>
                            Sports for children may provide excellent opportunities for exercise, but care must be taken not to overdo certain exercises (for example, throwing too many pitches in baseball may harm a joint like the elbow or shoulder).
                        </li>

                        <li>
                            Exertion during strenuous exercise may make a person tired and sore, but if pain occurs, stop the exercise until the pain source is discovered; the person may need to seek medical help and advice about continuation of such exercise.
                        </li>


                    </ul>

                </p>
                <p style="font-size:large">
                    Most individuals can begin moderate exercise, such as walking, without a medical examination. The following people, however, should consult a doctor before beginning more vigorous exercise:
                </p>

                <p style="font-size:large">

                    <ul style="font-size:large; line-height: 50px">
                        <li>
                            Men over age 40 or women over age 50
                        </li>

                        <li>
                            Individuals with heart or lung disease, asthma, arthritis, or osteoporosis
                        </li>

                        <li>
                            Individuals with conditions that increase their risks of developing coronary heart disease, such as high blood pressure, diabetes, cigarette smoking, high blood cholesterol, or having family members who had early onset heart attacks and coronary heart disease
                        </li>

                        <li>
                            Individuals who are morbidly obese
                        </li>
                    </ul>
                </p>

                <p style="font-size:large">
                    Consequences of physical inactivity and lack of exercise:
                </p>

                <p style="font-size:large">

                    <ul style="font-size:large; line-height: 50px">
                        <li>
                            Physical inactivity and lack of exercise are associated with heart disease and some cancers.
                        </li>

                        <li>
                            Physical inactivity and lack of exercise are associated with type II diabetes mellitus (also known as maturity or adult-onset, non-insulin-dependent diabetes).
                        </li>

                        <li>
                            Physical inactivity and lack of exercise contribute to weight gain.
                        </li>
                    </ul>
                </p>

                <h2>Mental health</h2>
                <p style="font-size:large">
                    Healthy living involves more than physical health, it also includes emotional or mental health. The following are some ways people can support their mental health and well-being.
                </p>

                <h2 style="font-size:large">
                    Tips:
                </h2>

                <p style="font-size:large">

                    <ul style="font-size:large; line-height: 50px">
                        <li>
                            Get enough sleep daily; the CDC recommends the following by age group (naps inclusive); 12-18 hours from birth to 2 months, 14-15 hours from 3-11 months of age, 12-18 hours for 1-3 years of age, 11-13 hours for 3-5 years of age, 10-11 hours for 5-10 years of age, 8.5-9.5 hours for 10-17 years of age and those 18 and above need 7-9 hours of sleep. Elderly people need about 7-9 hours but do not sleep as deeply and may awaken at night or wake early, so naps (like kids need) allow them to accumulate the total of 7-9 hours of sleep.
                        </li>

                        <li>
                            Take a walk and reflect on what you see and hear at least several times per week.
                        </li>

                        <li>
                            Try something new and often (eat a new food, try a different route to work, go to a new museum display).
                        </li>

                        <li>
                            Do some mind exercises (read, do a puzzle occasionally during the week).
                        </li>

                        <li>
                            Try to focus on a process intensely and complete a segment of it over 1 to several hours, then take a break and do something relaxing (walk, exercise, short nap).
                        </li>

                        <li>
                            Plan to spend some time talking with other people about different subjects.
                        </li>

                        <li>
                            Try to make some leisure time to do some things that interest you every week (hobby, sport).
                        </li>

                        <li>
                            Learn ways to say "no" when something occurs that you do not want to do or be involved with.
                        </li>

                        <li>
                            Let yourself be pleased with your achievements, both big and small (develop contentment).
                        </li>

                        <li>
                            Have fun (go on a trip with someone you love, go shopping, go fishing; do not let vacation time slip away).
                        </li>

                        <li>
                            Have a network of friends; those with strong social support systems lead healthier lives.
                        </li>

                        <li>
                            Seek help and advice early if you feel depressed, have suicidal thoughts, or consider harming yourself or others.   
                        </li>

                        <li>
                            People taking medicine for mental health problems should not stop taking these medications, no matter how "well" they feel, until they have discussed their situation with their prescribing doctor(s).
                        </li>


                    </ul>

                </p>


            </div>
            <div class="text-center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/65KDZLu4klU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>