@model E_CounsellingWebApplication.ViewModels.EditAppointmentViewModel;

<form method="post" class="mt-3">
    <div class="form-group row">
        <label asp-for="CounselorId" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="CounselorId" disabled class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Id" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Id" disabled class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Date"></label>
        <input type="datetime-local" id="meeting-time"
               name="date" value="2019-06-12T19:30"
               min="@DateTime.Now" max="2025-06-14T00:00">

        <span asp-validation-for="Date" class="text-danger"></span>
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Appoint</button>
            <a asp-action="Index" class="btn btn-primary">Cancel</a>
        </div>
    </div>
</form>